{% extends 'solu_t/nav.html' %}
{% load static %}

{% block load %}
    {% bootstrap_javascript jquery='full' %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load widget_tweaks %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/submit_button.css' %}">

    <style>
    .column {
        display: flex;
    }
    </style>
{% endblock %}

{% block title %}Day Shift{% endblock %}

{% block main %}
    <div class="form_title">
        <h3>翌月シフト申請フォーム</h3>
    </div>
    <div style="text-align: center">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form_block">
                <div class="form_hidden">
                    {{ shiftform.base }}
                    {{ shiftform.email }}
                    {{ shiftform.name }}
                </div>

                <div>
                    <label for="">申請内容：</label>
                    {% render_field shiftform.choice_kind %}
                </div>

                <div class="css_block switch_display" id="current">
                    <div class="css_flex">
                        <label for="">現在の勤務時間：</label>
                        {% render_field shiftform.time %}
                    </div>
                    <div class="css_flex responsive_block">
                        <label for="">現在の曜日シフト：</label>
                        {% render_field shiftform.day %}
                    </div>
                </div>

                <div class="css_block switch_display" id="apply">
                    <div class="css_block">
                        <div class="css_flex">
                            <label for="">勤務時間(第1希望)：</label>
                            {% render_field shiftform.first_choice_time %}
                        </div>
                        <div class="css_flex responsive_block">
                            <label for="">曜日シフト(第1希望)：</label>
                            {% render_field shiftform.first_choice_day %}
                        </div>
                    </div>
                    <div class="css_block second_choice">
                        <div class="css_flex">
                            <label for="">勤務時間(第2希望)：</label>
                            {% render_field shiftform.second_choice_time %}
                        </div>
                        <div class="css_flex responsive_block">
                            <label for="">曜日シフト(第2希望)：</label>
                            {% render_field shiftform.second_choice_day %}
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: right">
                <button class="learn-more" id="js-input-check" type="submit">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                        </span>
                    <span class="button-text">申請する</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/change_input_sorry.js' %}"></script>
{% endblock %}