{% extends 'solu_t/nav.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block title %}Solu-T{% endblock %}

{% block main %}
    <div id="welcome_solt" style="text-align: center">
        <h4>ようこそ {{ user.base }}FC の {{ user.last_name }} さん</h4>
    </div>

    {% for reply_list in reply %}
        {% if reply_list.name == name and reply_list.email == user.email %}
            {% if not reply_list.tag == '返信待ち' and not reply_list.tag == '解決済み' %}
                <div class="notice_block" style="text-align: center">
                    <h3 style="color: #d50707">担当者より返信が届いています！</h3>
                    <div class="notice_content">
                        <a href="{% url 'user_reply' reply_list.id %}" class="notice_title">
                            <h3>{{ reply_list.contact_kind }}</h3>
                            <p class="notice_content">{{ reply_list.message | truncatechars:30 | linebreaksbr }}</p>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for data in notice %}
        {% if user.base == data.base %}
            {% if user.shift == data.shift or data.shift == '全体' %}
                {% if data.important == '重要' %}
                    <div class="notice_block" style="text-align: center">
                        <h3 style="color: #d50707">重要なお知らせが届いています！</h3>
                        <div class="notice_content">
                            <a href="{% url 'user_notice_detail' data.id %}" class="notice_title">
                                <h3>{{ data.title }}</h3>
                                <p class="notice_content">{{ data.content | truncatechars:30 | linebreaksbr }}</p>
                            </a>
                        </div>
                    </div>
                {% elif data.important == '低' %}
                    <div class="notice_block" style="text-align: center">
                        <h3>お知らせが届いています！</h3>
                        <div class="notice_content">
                            <a href="{% url 'user_notice_detail' data.id %}">
                                <h3>{{ data.title }}</h3>
                                <p class="notice_content">{{ data.content | linebreaksbr }}</p>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% empty %}
        <h3 style="text-align: center">まだお知らせはありません</h3>
    {% endfor %}
{% endblock %}