{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive_admin_nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/submit_button.css' %}">

    <link rel="icon" type="image/png" href="{% static 'icon/favicon.ico' %}">
    {% block css %}{% endblock %}

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <div class="header_block" style="display:flex; justify-content: center; align-items: center">
            <div>
                <h2 class="solt_title">Solu-T</h2>
                <p class="make_solution">Make Solution</p>
            </div>
        </div>
    </nav>
</header>

{% if user.is_superuser %}
    <div class="main_block">
        {% block main %}{% endblock %}
    </div>
{% endif %}

{% if user.is_superuser %}
    <footer>
        <nav style="height: 170px">
            <div class="footer_block" style="height: 100%; padding: 0; background-color: #587D9F;">
                <ul class="footer_ul">
                    <a href="{% url 'manager_page' %}" class="top">
                        <li class="footer_list">トップ</li>
                        <i class="fa-solid fa-house"></i>
                    </a>
                    <a href="{% url 'apply_kind' %}" class="apply">
                        <li class="footer_list">申請処理</li>
                        <i class="fa-solid fa-envelope-open-text"></i>
                    </a>
                    <a href="{% url 'contact_list' %}" class="contact">
                        <li class="footer_list">問い合わせ処理</li>
                        <i class="fa-solid fa-gift"></i>
                    </a>
                    <a href="{% url 'notice_list' %}" class="notice">
                        <li class="footer_list">お知らせ管理</li>
                        <i class="fa-solid fa-file-pen"></i>
                    </a>
                </ul>
                <div class="copyright_block">
                    <p class="header_write copyright">2023 ©️ Kai Kojima</p>
                </div>
            </div>
        </nav>
    </footer>
{% endif %}
{% if not user.is_superuser %}
    <div style="text-align: center; margin-top: 3vh">
        <h3>管理者としてログインしてください</h3>
        <a href="{% url 'manager_login' %}">ログイン</a>
    </div>
{% endif %}

{% block js %}{% endblock %}
</body>
</html>