{% extends 'accounts/admin_apply_content.html' %}
{% load static %}

{% block css %}
    <style>
        .oume {
            background-color: #587D9F;
            color: #fff !important;
        }
    </style>
{% endblock %}

{% block title %} TYO4 This Month{% endblock %}

{% block month %}今{% endblock %}

{% block tr %}
    <tr>
        <th>所属会社</th>
        <th>配属工程</th>
        <th>名前</th>
        <th>ログイン ID</th>
        <th></th>
        <th>申請内容</th>
        <th>休暇希望日</th>
        <th>振休日</th>
        <th>振出日</th>
        <th>勤務時間※振替時</th>
        <th>休出の場合</th>
        <th></th>
        <th>勤務時間</th>
        <th>時短</th>
        <th>勤務時間</th>
        <th>リフレッシュ休暇</th>
    </tr>
{% endblock %}

{% block table %}
    {% for list in this_month %}
        <p style="display: none" class="base">{{ list.base }}</p>
        <tr class="table_box">
            <td>東和キャスト</td>
            <td>{{ list.assignment }}</td>
            <td>{{ list.name }}</td>
            <td>{{ list.login_id }}</td>
            <td></td>
            <td>{{ list.choice_kind }}</td>
            <td>{{ list.date|date:"Y/m/d"|default:"" }}</td>
            <td>{{ list.holiday_date|date:"Y/m/d"|default:"" }}</td>
            <td>{{ list.work_date|date:"Y/m/d"|default:"" }}</td>
            <td>{{ list.work_time|default:"" }}</td>
            <td>{{ list.plus_work|date:"Y/m/d"|default:"" }}</td>
            <td></td>
            <td>{{ list.overtime|default:"" }}</td>
            <td>{{ list.early_date|date:"Y/m/d"|default:"" }}</td>
            <td>{{ list.early_work|default:"" }}</td>
            <td>{{ list.refresh_date|date:"Y/m/d"|default:"" }}</td>
            <td class="paid_leave" style="display: none">{{ list.remarks_area }}</td>
            <td><input type="checkbox" name="delete" value="{{ list.id }}"></td>
        </tr>
    {% endfor %}
{% endblock %}

{% block move_page %}
    <a href="{% url 'apply_tyo4_nextmonth' %}">翌月へ進む</a>
{% endblock %}