{% extends 'accounts/admin_nav.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/notice.css' %}">
{% endblock %}

{% block title %}Notice Detail{% endblock %}

{% block main %}
    <div class="contact_detail_box">
        <h4 class="reply_title notice_title" style="text-align: center">{{ notice_detail.title }}</h4>
        <p style="color: #587D9F">{{ notice_detail.content | truncatechars:30 | linebreaksbr }}</p>
    </div>

    <div style="text-align: right; margin-top: 20px; " class="choice_block">
        <a href="{% url 'notice_edit' notice_detail.id %}" class="reply">編集する</a>
        <a href="{% url 'notice_delete' notice_detail.id %}" class="dangerous">削除する</a>
    </div>
{% endblock %}
