{% extends 'accounts/admin_nav.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/submit_button.css' %}">
{% endblock %}

{% block title %}Delete Contact{% endblock %}

{% block main %}
    <form action="" method="post">
        {% csrf_token %}
        <div style="text-align: center">
            <h4>お問い合わせを削除</h4>

            <div style="text-align: right">
                <button class="learn-more danger" type="submit">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
                    <span class="button-text">削除する</span>
                </button>
            </div>
        </div>
    </form>
{% endblock %}