table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

.apply_page {
    text-align: center;
}

.apply {
    color: #587D9F !important;
    background-color: white !important;
}

.apply_page h4 {
    color: #587D9F;
    font-size: 20px;
}

form div {
    margin-top: 2vh;
}

.apply_table tr th {
    background-color: #587D9F;
    color: #fff;
    padding: 7px;
}

.apply_table tr td {
    color: #587D9F;
    padding: 7px;
}

.apply_table tr td input {
    accent-color: #587D9F;
}

.button_box {
    margin-top: 2vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.check_block {
    margin-top: 0;
    margin-right: 3vw;
    display: flex;
}

.move_page_box {
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
}

.move_page_box a {
    padding: 10px;
    color: #587D9F;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 2.5em;
}

.move_page_box a:hover {
    color: #fff;
    background-color: #587D9F;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid #587D9F;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #587D9F;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #587D9F;
}

input:checked + .slider:before {
    background-color: #fff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #587D9F;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(85px);
}

.css_flex {
    display: flex;
    justify-content: right;
}

.button_block {
    margin-top: 0 !important;
    margin-bottom: 2vh;
}

.button_css {
    text-align: center;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.3s;
}

.button_css:hover {
    background-color: #587D9F;
}

.button_css:hover > button {
    color: #fff;
}

/*------ ADDED CSS ---------*/
.slider:after {
    content: 'Check';
    color: #587D9F;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10.5px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    color: #fff;
    content: 'UnCheck';
}

/*--------- END --------*/